.banners {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.banners .container {
  width: 80%;
  height: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container .banner {
  width: 32%;
  height: 100%;
  background: lightblue;
}