.containerNews {
  width: 100%;
  height: 680px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerNews .contentTop {
  width: 100%;
  height: 70%;
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.carrossel {
  width: 40%;
  height: 90%;
  margin-right: 1.25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #26a69a;
  position: relative;
}

.carrossel .circulo {
  width: 200px;
  height: 200px;
  background: #e1f5fe;
  border: 15px solid #b3e5fc;
  border-radius: 100px;
}

.carrossel span {
  color: var(--white);
  font-size: 1.8rem;
  font-weight: 500;
  width: 200px;
  margin-top: 10px;
}

.carrossel .filtro {
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.22);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filtro small {
  color: var(--white);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 10%;
}

.filtro strong {
  color: var(--white);
  font-size: 2.8rem;
  width: 60%;
  margin-left: 10%;
  margin-bottom: 5%;
}

.contentTop .lastNews {
  width: 40%;
  height: 90%;
  margin-left: 1.25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.lastNews .boxTop {
  width: 100%;
  height: 45%;
  background: var(--white);
  position: relative;
}

.filtroLastNews {
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.22);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.filtroLastNews span {
  color: var(--white);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 10%;
}

.filtroLastNews p {
  color: var(--white);
  font-size: 2.0rem;
  width: 60%;
  margin-left: 10%;
  margin-bottom: 5%;
  font-weight: 600;
}

.lastNews .boxBottom {
  width: 100%;
  height: 45%;
  background: var(--white);
  position: relative;
}

.containerNews .contentBottom {
  width: 82.5%;
  height: 30%;
  display: flex;
  flex-direction: column;
}

.contentBottom .top {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
}

.top .othersNews {
  width: 22.5%;
  background: rgba(255, 255, 255, 0.4);
  margin-left: 1.25%;
  margin-right: 1.25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 0.5px solid #eee;
}

.othersNews span {
  color: var(--black);
  text-transform: uppercase;
  margin-left: 5%;
  margin-top: 5%;
  font-size: 1.2rem;
}

.othersNews p {
  color: var(--blue);
  font-weight: 500;
  font-size: 1.8rem;
  margin-left: 5%;
  margin-bottom: 5%;
  width: 87%;
  line-height: 2.6rem;
}

.containerNews .bottom {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom>div {
  width: 80%;
}

.bottom button {
  flex: 1;
  height: 70%;
  margin-right: 1.25%;
  margin-bottom: 5px;
  transition: all 500ms ease-in-out;
  background: none;
  position: relative;
  color: var(--black);
}

.bottom button:after {
  margin-top: 5px;
  content: '';
  transition: inherit;
  width: 40%;
  height: 3px;
  background: var(--blue);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.bottom button:hover {
  color: var(--blue);
}

.bottom button:hover:after {
  width: calc(100% + 5px);
}