.containerNews {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background: crimson;
}

.containerNews .contentTop {
  width: 100%;
  height: 75%;
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.carrossel {
  width: 40%;
  height: 90%;
  margin-right: 1.25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #26a69a;
  position: relative;
}

.carrossel .circulo {
  width: 200px;
  height: 200px;
  background: #e1f5fe;
  border: 15px solid #b3e5fc;
  border-radius: 100px;
}

.carrossel span {
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  width: 200px;
  margin-top: 10px;
}

.carrossel .filtro {
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.22);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filtro small {
  color: var(--white);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 10%;
}

.filtro strong {
  color: var(--white);
  font-size: 28px;
  width: 60%;
  margin-left: 10%;
  margin-bottom: 5%;
}

.contentTop .lastNews {
  width: 40%;
  height: 90%;
  margin-left: 1.25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.lastNews .boxTop {
  width: 100%;
  height: 45%;
  background: var(--white);
  position: relative;
}

.filtroLastNews {
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.22);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.filtroLastNews span {
  color: var(--white);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 10%;
}

.filtroLastNews p {
  color: var(--white);
  font-size: 20px;
  width: 60%;
  margin-left: 10%;
  margin-bottom: 5%;
  font-weight: 600;
}

.lastNews .boxBottom {
  width: 100%;
  height: 45%;
  background: var(--white);
  position: relative;
}