.prefsTV {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prefsTV .title {
  width: 80%;
  height: 10%;
  margin-top: 0.25%;
  color: var(--black);
}

.prefsTV .title strong {
  font-size: 2.6rem;
  margin-left: 5px;
}

.prefsTV .title>div {
  width: 3.5%;
  height: 3px;
  background: var(--blue);
  margin-left: 5px;
  margin-top: 5px;
}

.prefsTV .content {
  width: 80%;
  height: 79%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content .box {
  width: 32.5%;
  height: 95%;
  margin-left: 0.50%;
  margin-right: 0.50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.box .image {
  width: 100%;
  height: 70%;
  background: #757575;
}

.box .description {
  font-size: 1.6rem;
  width: 80%;
  color: var(--text-gray);
  margin-right: 10px;
  margin-top: 5px;
}

.prefsTV .bottom {
  height: 10%;
  width: 80%;
  margin-bottom: 0.25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom .maisVideoSpace {
  width: 80%;
}

.bottom button {
  flex: 1;
  height: 100%;
  margin-right: 1.25%;
  transition: all 500ms ease-in-out;
  background: none;
  position: relative;
  color: var(--black);
}

.bottom button:after {
  content: '';
  transition: inherit;
  width: 40%;
  height: 3px;
  background: var(--blue);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.bottom button:hover {
  color: var(--blue);
}

.bottom button:hover:after {
  width: calc(100% + 5px);
}