* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

:root {
  --white: #fff;
  --background: #ececec;
  --gray: #ccc;
  --black: #333;
  --blue: #0091ea;
  --blue-hover: #03a9f4;
  --text-gray: #666;
}

body {
  background: var(--background);
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-family: 'Roboto Slab', serif;
  font-size: 16px
}

a {
  text-decoration: none;
  color: unset;
}

button {
  border: none;
  cursor: pointer;
}