.search {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  background: url('../assets/background4.jpg') no-repeat center;
  background-size: cover;
}

.search .filtroBackground {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.filtroBackground .heading {
  width: 100%;
  height: 15%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.heading .menu-hamburger {
  display: none;
}

.heading .logo {
  width: 20%;
  height: 100%;
  background: rgba(255, 255, 255, 0.09);
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading .infos {
  display: flex;
  flex-direction: row;
}

.heading .infos>span {
  font-size: 1.8rem;
  color: var(--white);
  font-weight: 500;
  margin-right: 15px;
}

.heading .infos .boxInfos {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
  margin-left: 5px;
}

.heading .infos .boxInfos span {
  font-size: 1.8rem;
  color: var(--white);
  font-weight: 500;
  margin-bottom: 2px;
  margin-right: 5px;
}

.filtroBackground .searchContainer {
  width: 55%;
  height: 80%;
  margin-bottom: 2.5%;
  margin-top: 2.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchContainer>h1 {
  color: var(--white);
  margin-right: 42%;
  font-weight: 500;
}

.searchContainer .inputAndButton {
  height: 50px;
  width: 95%;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 2.5%;
}

.inputAndButton input {
  background: var(--white);
  height: 50px;
  width: 90%;
  border: 2px solid var(--gray);
  border-radius: 4px;
  color: var(--black);
  display: flex;
  align-items: center;
  padding-left: 5px;
  font-size: 1.6rem;
  transition: border-color 0.2s;
}

.inputAndButton input:hover {
  border-color: var(--blue);
}

.inputAndButton button {
  height: 100%;
  width: 10%;
  background: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: background-color 0.3s;
}

.inputAndButton button:hover {
  background: var(--blue-hover);
}

.filtroBackground .suggestion {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.suggestion span {
  background: var(--gray);
  padding: 2px;
  color: var(--black);
  margin-right: 10px;
  border-radius: 5px;
  font-size: 1.4rem;
  transition: background-color 0.3s;
}

.suggestion span:hover {
  background: var(--white);
}

.filtroBackground .allServices {
  width: 30%;
  height: 60px;
  margin-top: 45px;
  border: 1px solid var(--white);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s;
  cursor: pointer;
}

.allServices:hover {
  background: var(--blue);
  border-color: var(--blue);
}

.allServices span {
  color: var(--white);
  font-weight: 600;
}